<%- include('includes/head'); %>

<section class="container">
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= description %>
  </p>
  <form action="/" method="post">
    <label for="input-teste-1">Nome:</label>
    <input type="text" id="input-teste-1">
    <button>Enviar</button>
  </form>
</section>

<%- include('includes/footer'); %>  